# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
yail/static/
frontEnd/static/car/
yail/lib/__pycache__/yom.cpython-310.pyc
yail/lib/yeab/__pycache__/web.cpython-310.pyc
yail/lib/yeab/__pycache__/yeab.cpython-310.pyc
yail/conf/__pycache__/dev.cpython-310.pyc
yail/lib/__pycache__/logger.cpython-310.pyc

# Worktrees
.worktrees/
yail/app.db
